# certifi==2024.8.30
# cffi==1.17.1
# cryptography==43.0.1
# packaging==24.1
# pycparser==2.22
# Flask==2.1.1

Flask==2.1.1
Werkzeug==2.2.3  # Update to a compatible version
certifi==2024.8.30
cffi==1.17.1
cryptography==43.0.1
packaging==24.1
pycparser==2.22
